{% extends "Advancing.html" %}
{% block content %}

<h2 class="mb-4">Welcome {{ current_user.name }}</h2>
<form method="get" class="row g-3 mb-4">

  <div class="col-md-2">
    <label class="form-label">Alergēni</label>
    <input type="text" name="allergen" class="form-control" value="{{ allergen }}">
  </div>
  
  <div class="col-md-2"> 
    <label class="form-label">Produkti</label>
    <input type="text" name="product" class="form-control" value="{{ product }}">
  </div>
  
  <div class="col-md-2">
    <label class="form-label">Laiks</label>
    <input type="text" name="time" class="form-control" value="{{ time }}">
  </div>
  
  <div class="col-md-2">
    <label class="form-label">Virtuve</label>
    <input type="text" name="cuisine" class="form-control" value="{{ cuisine }}">
  </div>

  <div class="col-md-2">
    <label class="form-label">Ēdienreizes tips</label>
    <input type="text" name="meal_type" class="form-control" value="{{ meal_type }}">
  </div>
  
  <div class="col-md-2 d-flex align-items-end">
    <button class="btn btn-primary w-100">Filtrēt</button>
  </div>

 </form>

 <h3 class="mb-3">Rezultāti:</h3>
 <div class="row g-4">
    {% for r in recipes %}
    <div class="col-md-4">
      <div class="card shadow-sm h-100">
        <div class="card-body"> <h5 class="card-title">{{ r.name }}</h5>
          
          <p><strong>Tips:</strong> {{ r.meal_type }}</p>
          <p><strong>Virtuve:</strong> {{ r.cuisine }}</p>
          <p><strong>Laiks:</strong> {{ r.time }}</p>
          
          <p><strong>Produkti:</strong>
            {{ r.ingredients | map(attribute='name') | join(', ') }}
          </p>

          <p><strong>Recepte:</strong>
            {{ r.instructions[:120] }}...
          </p>

        </div>
      </div>
    </div>
    {% endfor %}
    
  </div>
  {% endblock %}