{% extends "Advancing.html" %}
{% block content %}

<IMG SRC=”preview-welcome-page.png” ALIGN=”right” /> This text flows on the left.


<div class="myDiv" style="width: 60%; float: left;">
    <h2>Digitālā recepšu grāmata</h2>
    <p>Sistēmas būtība</p>
    <p> Limpa mērķis ir nodrošināt lietotājam vizuāli baudāmu vietni, kur rast idejas katram maltītes veidam, sniedzot visus nepieciešamos produktus, pagatavošanas soļus un iespēju saglabāt šīs maltītes nākamajai reizei!</p>
</div>

<img src="{{ url_for('static', filename='preview-welcome-page.png') }}"
     alt="Welcome preview"
     style="width: 35%; float: right; margin-left: 20px;">

<div style="clear: both;"></div>

{% endblock %}
